* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #2F3032; /* Mengatur latar belakang body menjadi hitam (dark) */
    color: #ffffff; /* Mengatur warna teks menjadi putih */
    font-family: Arial, Helvetica, sans-serif;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .header {
    background-color: #2F3032;
    color: #ffffff;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .app-bar__brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .app-bar__navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .app-bar__navigation li {
    display: inline;
    margin-right: 20px;
  }
  
  .app-bar__navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .app-bar__navigation a:hover {
    color: #65bddd;
    transition: background-color 0.3s;
  }
  
  
  .menu ul {
    list-style-type: none;
    margin-top: 100px;
    padding: 10px;
  }
  
  .menu li {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 12px;
    background-color: #65bddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-left: 15px;
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .col-6.col-s-9 {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 72%;
  }
  
  .col-6.col-s-9 p {
    font-size: 14px;
    text-align: justify;
  }
  .col-6.col-s-9 ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .col-6.col-s-9 h2 {
    font-size: 20px; /* Ukuran font */
    font-weight: bold; /* Ketebalan font */
    margin-top: 20px; /* Jarak atas dari elemen sebelumnya */
    margin-bottom: 10px; /* Jarak bawah dari elemen */
  }

  .col-6.col-s-9 li {
      font-size: 14px;
  }

  .col-6.col-s-9 a {
      text-decoration: none;
      color: #65bddd;
      font-weight: bold;
  }

  .col-6.col-s-9 a:hover {
      text-decoration: underline;
      color: #0099cc;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-container figure {
    width: calc(25.33% - 10px); 
    margin: 20px; 
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    border-radius: 20px;
    padding: 10px; 
  }
  
  .image-container figcaption {
    font-size: 12px;
    margin-top: 5px; 
  }
  
  /* Styling untuk elemen aside */
  .aside {
    background-color: #65bddd;
    margin-top: 65px;
    padding: 15px 30px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translateX(100%); /* Awalnya disembunyikan di luar layar */
    transition: transform 0.3s; /* Efek animasi ketika terbuka/tutup */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  .aside.open {
    transform: translateX(0);
  }
  
/* Styling untuk foto */
.aside img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

/* Styling untuk nama */
.aside h3 {
  font-size: 20px;
  margin-top: 10px;
}

/* Styling untuk deskripsi */
.aside p {
  text-align: justify;
  padding: 10px 5px;
  font-size: 14px;
}
.aside a {
  text-decoration: none;
  color: #ffffff;
}

/* Styling untuk kontak */
.aside h3:last-of-type {
  margin-top: 20px;
}

.aside ul {
  list-style-type: none;
  padding: 0;
}

.aside li {
  margin-top: 5px;
  font-size: 12px;
}

/* CSS untuk membuka aside saat tombol "About Us" diklik */
.aside.open {
  transform: translateX(0);
}

/* Styling untuk tombol "About Us" */
#openAside {
  cursor: pointer;
}

  @keyframes mymove {
    50% {background-color: #0099cc;}
  }
  
  .footer {
    background-color: #4c4d4e;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 6px;
  }
  
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (max-width: 599px) {
    .col-6.col-s-9 {
        width: 100%; /* Mengatur lebar elemen menjadi 100% pada tampilan mobile */
        padding-top: 0; /* Menghilangkan padding atas pada tampilan mobile (jika diperlukan) */
    }
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }